/* ==========================================================================
   Variables
   ========================================================================== */


/* Global Values
   ========================================================================== */


/* Colors
   ========================================================================== */

$black:                     #000;
$white:                     #FFF;
$extra-light-grey:          #CCC;
$medium-grey:               #999;
$dark-grey:                 #666;
$extra-dark-grey:           #333;


/* z-index
   ========================================================================== */
$header-z-index:            1000;


/* Scaffolding
   ========================================================================== */

$body-bg:                   $white;
$text-color:                $extra-dark-grey;

$link-color:                $extra-dark-grey;
